@{
    ViewBag.Title = "About";
}
<h2>Sobre a Aplicação</h2>

<p>A aplicação da e-Recarga permite aos utilizadores saber a localização
    dos “postos de estações” e efetuar uma reserva para um carregamento. 
</p>
<p>Se a reserva for possível são enviados (através do sistema de
    informação da aplicação) ao cliente os dados sobre o carregamento. 
    A rede proprietária da estação também recebe (através do sistema
    de informação da aplicação) os dados do serviço a realizar.
</p>
