@{
    ViewBag.Title = "Contact";
}
<h2>Contactos</h2>

<img src="https://www.asbeiras.pt/wp-content/uploads/2019/06/LOGO-ISEC-IPC_sem-fundo-copy_fb.png" width=400 height=260 align="right">

<address>
    <p>Morada</p>
    Rua Pedro Nunes</br>
    Quinta da Nora</br>
    3030-199 COIMBRA</br>
    Portugal</br>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:info@isec.pt">info@isec.pt</a><br />
    <strong>Contacto:</strong> <a href="tel:+351 239790200">+351 239790200</a>
</address>

<h3>Autores</h3>
<address>
    Diogo Lourenço - 21270499</br>
    João Relva - 21260360</br>
</address>

